<div class="app-card-container">
    <div class="card">
        <h1>About Me</h1>
        
        <hr>
        
        <div class="row">
            <div class="col-md-4">
                <%= image_tag "placeholder.png", width: 300, alt: "Profile Image", class: 'profile-img' %>
            
                <div class="skills">
                    <% @skills.each do |skill| %>
                        <div class="skill">
                            <h4><%= skill.title %></h4>
                            <div class="progress">
                                <div 
                                    class="progress-bar progress-bar-striped bg-warning"
                                    role="progressbar"
                                    aria-valuenow="<%= skill.percent_utilized %>"
                                    aria-valuemax="100"
                                    style="width: <%= skill.percent_utilized %>%"
                                ></div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-8">
                <p>I'm a Web Developer that specializes in custom WordPress and Ruby on Rails development. 
                    My focus when developing a project is to make it as user friendly as possible no matter 
                    what device it is being viewed on. My attention to detail when creating training 
                    documents will allow clients to update their website with ease.</p>
                
                <div class="bd-example bd-example-tabs" role="tabpanel">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <%= render 'about_tabs' %>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <%= render 'about_job_history' %>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <%= render 'about_education' %>
                        </div>
                    </div>
                </div>
                     
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('.btn.btn-primary').click(function() {
            
        });

    });
</script>